
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav" style="text-align: center;">

      <li class="nav-item">
        <a class="nav-link " routerLink="home">
          <i class="bi bi-grid" style="font-size: 30px;"></i>
          <span style="font-size: 20px;">Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="employees">
          <i class="bi bi-person-lines-fill" style="font-size: 30px;"></i>
          <span style="font-size: 20px;">Employees</span>
        </a>
      </li><!-- End Employees Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="home">
          <i class="bi bi-list-task" style="font-size: 30px;"></i>
          <span style="font-size: 20px;">Lab State</span>
        </a>
      </li><!-- End Employees Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="home">
          <i class="bi bi-clock-history" style="font-size: 30px;"></i>
          <span style="font-size: 20px;">Pointing history</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="home">
          <i class="bi bi-person-circle" style="font-size: 30px;"></i>
          <span style="font-size: 20px;">Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" (click)="logout()" routerLink="">
          <i class="bi bi-box-arrow-in-left" style="font-size: 30px;"></i>
          <span style="font-size: 20px;">Log out</span>
        </a>
      </li><!-- End Log out Page Nav -->
    </ul>
<!-- End Sidebar-->
</aside>
